<div class="page-content make-it-green">

  <h3><%= @channel.name %></h3>
  <br/>
  <h4><%= @channel.description %></h4>

</div>

<div class="channel-header-line"></div>

<div class="page-content make-it-green">

  <% if current_user && current_user == @channel.user %>
    <br/><br/>
    <%= link_to "Add A Video", new_channel_post_path(@channel), class: "btn btn-primary make-it-green" %>
    <br/><br/>
    <%= link_to "Edit this channel", edit_channel_path(@channel), class: "btn btn-primary make-it-green" %>
  <% end %>

  <br/><br/><br/>

  <%= simple_form_for :search, url: channel_path(@channel), method: "GET", html: { class: 'form-inline' } do |f| %>
    <%= f.input :title, input_html: {value: ""} %>
    <%= f.submit "Search for a video", class: "btn btn-primary make-it-green" %>
  <% end %>

  <br/><br/>

  <h4><%= link_to "List all videos", channel_path(@channel), class: "make-it-green btn btn-primary" %></h4>

  <br/><br/>

  <% if !@channel.posts.count.zero? %>
    <div class="pagination">
      <% if @posts.previous_page %>
        <%= link_to "< Previous [", params.permit(:page).merge(:page => @posts.previous_page ) %>
      <% end %>
      Page <%= @posts.current_page %> of <%= @posts.total_pages %>
      <% if @posts.next_page %>
        <%= link_to "] Next >", params.permit(:page).merge(:page => @posts.next_page ) %>
      <% end %>
    </div>
    <br/>
  <% end %>

  <% for post in @posts %>
    <%= image_tag post.picture.url, class: "post-image" %>
    <div>
      <%= link_to post.title, channel_post_path(@channel, post), class: "make-it-green post-link" %>
    </div>
    <br/>
  <% end %>

</div>

<br/><br/>
