<div class="page-content make-it-green">

  <h3><%= @channel.name %></h3>
  <br/>
  <h4><%= @channel.description %></h4>

</div>

<div class="channel-header-line"></div>

<div class="page-content make-it-green">

  <% if current_user && current_user == @channel.user %>
    <br/><br/>
    <%= link_to "Add A Video", new_channel_post_path(@channel), class: "btn btn-primary make-it-green" %>
  <% end %>

  <br/><br/>

  <% for post in @posts %>
    <%= image_tag post.picture.url, class: "post-image" %>
    <div>
      <%= link_to post.title, channel_post_path(@channel, post), class: "make-it-green post-link" %>
    </div>
    <br/>
  <% end %>

</div>
