<div class="page-content">

  <% if !current_user %>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-primary make-it-green" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary make-it-green" %>
  <% else %>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-primary make-it-green" %>
    <br/><br/>
    <%= link_to "Start A Channel", new_channel_path, class: "btn btn-primary make-it-green" %>
  <% end %>

  <br/><br/>

  <% @channels.each do |channel| %>
    <h3><%= link_to "#{channel.name}", channel_path(channel), class: "make-it-green" %></h3>
    <br/>
  <% end %>

  <% if current_user %>
    <% if !current_user.subscriptions.count.zero? %>
      <h4 class="make-it-green">Subscriptions</h4>
    <% else %>
      <h4 class="make-it-green">You have no subscriptions</h4>
    <% end %>

    <br/>

    <% current_user.subscriptions.each do |subscription| %>
      <h3><%= link_to "#{subscription.channel_name}", channel_path(subscription.channel_id), class: "make-it-green" %></h3>
    <% end %>
  <% end %>

</div>
