<div class="page-content">

  <br/><br/>

  <video id="my-video" class="video-js vjs-big-play-centered" controls preload="auto" width="900" height="500"
    poster="<%= image_path(@post.picture) %>" data-setup="{}">
    <source src="<%= @post.video.to_s %>" type='video/mp4'>
    <noscript>
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </noscript>
  </video>

  <div class="make-it-green">
    <br/>
    <div class="col-6 move-left">
      <h3><%= @post.title %></h3>
    </div>
    <br/>
    <h4><%= link_to "Go to #{@channel.name} videos", channel_path(@channel), class: "make-it-green" %></h4>
    <br/>
    <%= react_component("Description", { description: @post.description }) %>
  </div>

</div>

<br/><br/><br/><br/>
