<!DOCTYPE html>
<html>
  <head>
    <title>VideoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://vjs.zencdn.net/7.5.4/video-js.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse ">
      <div class="make-it-green">
        <h4><%= link_to 'Go To Homepage', root_path, class: "make-it-green" %></h4>
        <% if current_user %>
          <h5><%= "Currently logged in as #{current_user.username}" %></h5>
        <% end %>
      </div>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="make-it-green">Social Media Links</span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <%= link_to 'https://github.com/Learningstuff98/video_app' do %>
          <div class="fa fa-github-square link make-it-green"> Github</div>
        <% end %>
        <br/>
        <%= link_to 'https://www.linkedin.com/in/andy-strube-6231ba152/' do %>
          <div class="fa fa-linkedin-square link make-it-green"> Linkedin</div>
        <% end %>
        <br/>
        <%= link_to 'https://docs.google.com/document/d/1qm4nBdIZfsx8zh4IwYvkVuQYclpOXUCVxnC9vV3_eBM/edit' do %>
          <div class="fa fa-file-text link make-it-green"> Resume</div>
        <% end %>
      </div>
    </nav>

    <div class="make-it-green page-content">
      <h4 class="notice"><%= notice %></h4>
      <h4 class="alert"><%= alert %></h4>
    </div>

    <%= yield %>
  </div>

  <script src='https://vjs.zencdn.net/7.5.4/video.js'></script>
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

  </body>
</html>
